@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,600&family=Ultra&display=swap');

.picturebox {
    border: 1px solid;
    padding: 2rem;
    margin: auto 2rem;
    width: 20rem;
}

.picturebox img {
    cursor: pointer;
}

.textbox {
    position: relative;
    width: 15rem;
}

.textbox p {
    position: absolute;
    bottom: 0;
    width: 15rem;
    font-family: 'Cormorant', serif;
    
}

.textbox h3 {
    opacity: 10%;
    font-family: 'Ultra', serif;
    font-size: 3rem;
}