.picturebox {
  border: 1px solid;
  border-color: #283106;
  padding: 2rem;
  margin: 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.picturebox img {
  cursor: pointer;
}

.picturebox-container {
  display: flex;
  margin: 0;
}

.picturebox .picturebox-img {
  transition: transform 0.5s ease-in-out;
  opacity: 1;
}

.picturebox .picturebox-img:hover {
  transform: scale(1.01);
}
