@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FEF9F5;
  color: #283106;
}

.parent-content {
  /* margin: auto 20rem; */
  /* flex-grow: 1;
  box-sizing: border-box; */
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 1rem 0 10rem;
  padding: 1rem;
  
}

.content p {
  width: 20rem;
}

.content img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.wrap {
  display: flex;
  
}
